{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/master/doc/json_schema.json",
  "logo": {
    "source": "@LOGO_PATH@",
    "type": "@LOGO_TYPE@",
    "width": @LOGO_W@,
    "height": @LOGO_H@,
    "padding": {
      "top": 1
    }
  },
  "display": {
    "color": {
      "title": "1;38;2;100;210;255"
    },
    "percent": {
      "color": {
        "green": "1;38;2;100;210;255",
        "yellow": "1;38;2;190;90;255",
        "red": "1;38;2;255;60;120"
      }
    },
    "key": {
      "type": "string"
    }
  },
  "modules": [
    "title",
    { "type": "os", "key": "@OS_ICON@ OS", "keyColor": "1;38;2;100;210;255" },
    { "type": "kernel", "key": "󰘚 Kernel", "keyColor": "1;38;2;106;201;255" },
    { "type": "uptime", "key": "󰅐 Uptime", "keyColor": "1;38;2;113;193;255" },
    { "type": "packages", "key": "󰏖 Packages", "keyColor": "1;38;2;119;184;255" },
    "break",
    { "type": "shell", "key": "󰆍 Shell", "keyColor": "1;38;2;126;176;255" },
    { "type": "terminal", "key": "󰞷 Terminal", "keyColor": "1;38;2;132;167;255" },
    { "type": "de", "key": "󰇅 DE", "keyColor": "1;38;2;139;159;255" },
    { "type": "wm", "key": "󰖲 WM", "keyColor": "1;38;2;145;150;255" },
    { "type": "theme", "key": "󰏘 Theme", "keyColor": "1;38;2;151;141;255" },
    "break",
    { "type": "cpu", "key": "󰻠 CPU", "format": "{name}", "keyColor": "1;38;2;158;133;255" },
    { "type": "gpu", "key": "󰢮 GPU", "format": "{name}", "keyColor": "1;38;2;164;124;255" },
    { "type": "memory", "key": "󰍛 Memory", "keyColor": "1;38;2;171;116;255" },
    { "type": "swap", "key": "󰓡 Swap", "keyColor": "1;38;2;177;107;255" },
    "break",
    { "type": "battery", "key": "󱊢 Battery", "keyColor": "1;38;2;184;99;255" },
    { "type": "poweradapter", "key": "󰚥 Power Adapter", "keyColor": "1;38;2;190;90;255" }
  ]
}
