[user]
	email = luysfernnando@gmail.com
	name = Luys Fernnando
	signingKey = ~/.ssh/id_luysfernnando_sign_commits.pub
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[core]
	editor = code --wait
	autocrlf = input
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
